# +--------------------------------------------------
# | CREATE CONFIG MAPS FOR DEVELOPMENT ENVIRONMENT
# | AUTHOR: WORTIZ
# | DATE: 09-01-2022
# +--------------------------------------------------

apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-application-development
  namespace: ns-development
  labels:
    app.kubernetes.io/name: employees
    app.kubernetes.io/instance: employees
    app.kubernetes.io/version: "1.0.5"
    app.kubernetes.io/component: microservice
    app.kubernetes.io/part-of: api-employee
    app.kubernetes.io/managed-by: github.com
    owner: taa
    env: dev
    type: configuration
    app: api-employees
data:
  KEY_APP_ENVIRONMENT: dev
  KEY_APP_FILESYSTEM: /employee/dev/data
  KEY_DB_EMPLOYEES_CONNECTION: mysql
  KEY_DB_EMPLOYEES_NAME: employees
  KEY_KEYCLOAK_URL_BASE_CONNECTION: keycloak
  KEY_KEYCLOAK_REALM: realm-services
  KEY_KEYCLOAK_RESOURCE: employee-service